<div>
    <h2>🏃🏻‍♂️ It is about sport & performance 🏃🏻‍♂️</h2>
    <a href="/public/about.html">About the project</a>
    <hr>
    <h2>👇 Participate in the project: 👇</h2>
    <a
        href="https://www.strava.com/oauth/authorize?client_id=38506&response_type=code&redirect_uri=https://intense-beyond-23063.herokuapp.com/confirm&approval_prompt=force&scope=activity:read">Redirect
        to Strava authentification
    </a>
    <hr>
</div>
<div>
    <h2>Thanks everyone for sharing 🥰: </h2>
    <p><b>{{kms}}</b> kilometers available for the study</p>
    {{#each users_info}}
    <div style="background-color: #ebf1f0; border-radius: 10px; margin-bottom: 5px;">
        <img src={{profile_medium}} alt="avatar"
            style="width: 60px; height: 60px; border-radius: 50%; vertical-align: middle;"> <a
            href="/athlete?user_id={{id}}">{{firstname}}</a> from {{city}}
    </div>
    {{/each}}
    <hr>
</div>